.row {
  border: 1px solid #27c84a;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-family: "Helvetica Neue";
  font-weight: 300;
}

.row.warning{
  border-color: #ee3d2f;
}

.row:before{
  content: "\f058";
  color: #27c84a;
}

.warning.row:before{
  content: "\f057";
  color: #ee3d2f;
}

.icon:before{
    float: right;
    font: normal normal normal 35px/1 FontAwesome;
}

.row > .name {
  font-size: 22px;
}

.row > .info {
  margin-top: 8px;
  opacity: 0.6;
  display: none;
}
